@use "../../../../index" as *;

.name-email-form {
  display: flex;
  gap: 16px;
  width: 100%;
  @include mobile {
    flex-direction: column;
    gap: 1rem;
  }

  .name-input,
  .email-input {
    flex: 1;

    .MuiOutlinedInput-root {
      border-radius: 2rem;

      fieldset {
        border-radius: 2rem; // مهم علشان الخط نفسه
      }
    }
  }
}

.consultation-type {
  width: 50%;
  @include mobile {
    width: 100%;
  }

  .select-input {
    .MuiOutlinedInput-root {
      border-radius: 2rem;
    }
  }
}

.description {
  width: 100%;

  .description-input {
    width: 100%;
    .MuiOutlinedInput-root {
      border-radius: 2rem;
    }
  }
}

.dropzone-form {
  width: 60%;
  @include mobile {
    width: 100%;
  }
}

html.dark {
  .name-email-form {
    .name-input,
    .email-input {
      .MuiOutlinedInput-input {
        color: #fff;
      }
      // ✅ label
      .MuiInputLabel-root {
        color: #fff;

        &.Mui-focused {
          color: #fff;
        }
      }
      // ✅ input + border
      .MuiOutlinedInput-root {
        fieldset {
          border-color: #fff;
        }
        &:hover fieldset {
          border-color: #fff;
        }
        &.Mui-focused fieldset {
          border-color: #fff;
        }
      }
    }
  }
  .consultation-type {
    .select-input {
      // ✅ label
      .MuiInputLabel-root {
        color: #fff;

        &.Mui-focused {
          color: #fff;
        }
      }
      .MuiOutlinedInput-root {
        fieldset {
          border-color: #fff;
        }
        &:hover fieldset {
          border-color: #fff;
        }
        &.Mui-focused fieldset {}
      }
      // ✅ input + border
      .MuiOutlinedInput-root {
        fieldset {
          border-color: #fff;
        }
        &:hover fieldset {
          border-color: #fff;
        }
        &.Mui-focused fieldset {
          border-color: #fff;
        }
      }
    }
  }

  .consultation-type {
    .select-input {
      .MuiOutlinedInput-input {
        color: #fff;
      }
      // ✅ الـ label
      .MuiInputLabel-root {
        color: #fff;

        &.Mui-focused {
          color: #fff;
        }
      }

      // ✅ البوكس كله (input + border)
      .MuiOutlinedInput-root {
        // النص المختار
        .MuiSelect-select {
          color: #fff;
        }
        // السهم
        .MuiSvgIcon-root {
          color: #fff;
        }
        // البوردر
        fieldset {
          border-color: #fff;
        }
        &:hover fieldset {
          border-color: #fff;
        }
        &.Mui-focused fieldset {
          border-color: #fff;
        }
      }
    }
  }

  .description {
    .description-input {
      .MuiOutlinedInput-input {
        color: #fff;
      }
      // ✅ label
      .MuiInputLabel-root {
        color: #fff;

        &.Mui-focused {
          color: #fff;
        }
      }
      // ✅ البوكس + البوردر
      .MuiOutlinedInput-root {
        // textarea
        .MuiOutlinedInput-inputMultiline {
          color: #fff;

          &::placeholder {
            color: #fff;
            opacity: 1;
          }
        }
        // border
        fieldset {
          border-color: #fff;
        }
        &:hover fieldset {
          border-color: #fff;
        }

        &.Mui-focused fieldset {
          border-color: #fff;
        }
      }
    }
  }
}