.form-contact {
  width: 100%;
  //padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .name-input,
  .email-input,
  .phone-input,
  .subject-input,
  .message-input  {
    width: 97%;

    .MuiOutlinedInput-root {
      border-radius: 2rem;

      fieldset {
        border-radius: 2rem; // مهم علشان الخط نفسه
      }
    }
  }
}

//Dark Mode
html.dark {
  .form-contact {
    .MuiOutlinedInput-input {
      color: #fff;
    }
    // ✅ label
    .MuiInputLabel-root {
      color: #fff;

      &.Mui-focused {
        color: #fff;
      }
    }

    // ✅ input + border
    .MuiOutlinedInput-root {
      fieldset {
        border-color: #fff;
      }
      &:hover fieldset {
        border-color: #fff;
      }
      &.Mui-focused fieldset {
        border-color: #fff;
      }
    }
  }
}