@import "tailwindcss";

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-white text-black;
    }

    button {
        @apply border-none outline-none cursor-pointer bg-transparent;
    }
}