.social-fixed-icons {
  position: fixed;
  bottom: 25px;
  right: 25px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 999;

  //border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem 0;
  background-color: transparent;
  box-shadow:
          0 20px 40px rgba(0, 0, 0, 0.08),
          0 8px 16px rgba(0, 0, 0, 0.05);
}

.social-icon {
  width: 65px;
  height: 65px;

  border-radius: 50%;

  overflow: hidden;

  transition: 0.3s ease;

  cursor: pointer;

  box-shadow: 0 10px 30px rgba(0,0,0,0.12);

  &:hover {
    transform: translateY(-5px) scale(1.05);
  }
}

.social-lottie {
  width: 100%;
  height: 100%;
}