.e-grid .e-headertext {
  font-size: 0.8rem;
}

.btn-load-more {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  display: block;
  transition: all 0.3s ease;
  &:hover {
    background-color: #1d4ed8;
  }
}