@use "../../../index" as *;

.page-overview {
  .header {
    @include mobile {
      padding: 1rem 0.2rem;
    }
    h1 {
      @include mobile {
         font-size: 1.2rem;
      }
    }

    p {
      @include mobile {
        font-size: 1rem;
      }
    }
  }
}